@font-face {
	font-family: 'IcoMoon';
	src: url('fonts/IcoMoon.eot');
	src: url('fonts/IcoMoon.eot?#iefix') format('embedded-opentype'),
		url('fonts/IcoMoon.svg#IcoMoon') format('svg'),
		url('fonts/IcoMoon.woff') format('woff'),
		url('fonts/IcoMoon.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'IcoMoon';
	content: attr(data-icon);
	speak: none;
}

/* Use the following CSS code if you want to have a class per icon */
[class^="icon-"]:before, [class*=" icon-"]:before {
	font-family: 'IcoMoon';
	font-style: normal;
	speak: none;
}
.icon-radio-unchecked:before {
	content: "\25";
}
.icon-arrow-left:before {
	content: "\34";
}
.icon-arrow-down-left:before {
	content: "\35";
}
.icon-arrow-down:before {
	content: "\36";
}
.icon-arrow-down-right:before {
	content: "\37";
}
.icon-arrow-right:before {
	content: "\38";
}
.icon-arrow-up-right:before {
	content: "\39";
}
.icon-arrow-up:before {
	content: "\3a";
}
.icon-arrow-up-left:before {
	content: "\3b";
}
.icon-arrow-left-2:before {
	content: "\3c";
}
.icon-arrow-down-left-2:before {
	content: "\3d";
}
.icon-arrow-down-2:before {
	content: "\3e";
}
.icon-arrow-down-right-2:before {
	content: "\3f";
}
.icon-arrow-right-2:before {
	content: "\40";
}
.icon-arrow-up-right-2:before {
	content: "\41";
}
.icon-checkbox:before {
	content: "\42";
}
.icon-arrow-left-3:before {
	content: "\30";
}
.icon-arrow-down-3:before {
	content: "\31";
}
.icon-arrow-right-3:before {
	content: "\32";
}
.icon-arrow-up-2:before {
	content: "\33";
}
.icon-arrow-up-3:before {
	content: "\21";
}
.icon-arrow-up-left-2:before {
	content: "\22";
}
.icon-arrow-left-4:before {
	content: "\23";
}
.icon-arrow-down-left-3:before {
	content: "\24";
}
.icon-arrow-down-4:before {
	content: "\26";
}
.icon-arrow-down-right-3:before {
	content: "\27";
}
.icon-arrow-right-4:before {
	content: "\28";
}
.icon-arrow-up-right-3:before {
	content: "\29";
}
.icon-arrow-up-4:before {
	content: "\2a";
}
.icon-arrow-up-left-3:before {
	content: "\2b";
}
.icon-checkbox-unchecked:before {
	content: "\2c";
}
.icon-checkbox-partial:before {
	content: "\2d";
}
.icon-radio-checked:before {
	content: "\2e";
}
.icon-out:before {
	content: "\2f";
}
.icon-plus:before {
	content: "\43";
}
.icon-minus:before {
	content: "\44";
}
.icon-checkmark:before {
	content: "\45";
}
.icon-cancel:before {
	content: "\46";
}
.icon-cancel-2:before {
	content: "\47";
}
.icon-cancel-3:before {
	content: "\48";
}
.icon-blocked:before {
	content: "\49";
}
.icon-info:before {
	content: "\4a";
}
.icon-help:before {
	content: "\4b";
}
.icon-minus-2:before {
	content: "\4c";
}
.icon-plus-2:before {
	content: "\4d";
}
.icon-thumbs-down:before {
	content: "\4e";
}
.icon-thumbs-up:before {
	content: "\4f";
}
.icon-heart:before {
	content: "\50";
}
.icon-heart-2:before {
	content: "\51";
}
.icon-star:before {
	content: "\52";
}
.icon-star-2:before {
	content: "\53";
}
.icon-star-3:before {
	content: "\54";
}
.icon-bookmark:before {
	content: "\55";
}
.icon-bookmark-2:before {
	content: "\56";
}
.icon-happy:before {
	content: "\57";
}
.icon-smiley:before {
	content: "\58";
}
.icon-neutral:before {
	content: "\59";
}
.icon-enter:before {
	content: "\5a";
}
.icon-exit:before {
	content: "\5b";
}
.icon-loop:before {
	content: "\5c";
}
.icon-undo:before {
	content: "\5d";
}
.icon-redo:before {
	content: "\5e";
}
.icon-forward:before {
	content: "\5f";
}
.icon-reply:before {
	content: "\60";
}
.icon-reply-2:before {
	content: "\61";
}
.icon-loading:before {
	content: "\62";
}
.icon-loading-2:before {
	content: "\63";
}
.icon-search:before {
	content: "\64";
}
.icon-search-2:before {
	content: "\65";
}
.icon-zoom-in:before {
	content: "\66";
}
.icon-zoom-out:before {
	content: "\67";
}
.icon-history:before {
	content: "\68";
}
.icon-clock:before {
	content: "\69";
}
.icon-bell:before {
	content: "\6a";
}
.icon-bell-2:before {
	content: "\6b";
}
.icon-bell-3:before {
	content: "\6c";
}
.icon-arrow-up-5:before {
	content: "\6d";
}
.icon-arrow-right-5:before {
	content: "\6e";
}
.icon-arrow-down-5:before {
	content: "\6f";
}
.icon-arrow-left-5:before {
	content: "\70";
}
.icon-arrow-up-6:before {
	content: "\71";
}
.icon-arrow-right-6:before {
	content: "\72";
}
.icon-arrow-down-6:before {
	content: "\73";
}
.icon-arrow-left-6:before {
	content: "\74";
}
