
/*****************************************************************************/

table {
    margin-left: auto;
    margin-right: auto;
}

strong {
    font-family: 'NoticiaTextBold',Arial,Sans-serif;
}

td {
    padding-left: 10px;
}

.leftSpace {
    padding-left: 50px;
}

table.sched tr:nth-child(2n + 1) td {
    background: #eef;
}

table.sched tr:nth-child(2n + 1) th {
    background: #eef;
}

table.sched tr:first-child th {
    border-bottom: 1px solid #444;
    background: #fff;
}

table.sched tr th:first-child {
    border-right: 1px solid #444;
}

#info-tp th {
    border-bottom: 1px solid #444;
}

table.exam-rooms tr td:last-child {
    text-align: left;
}

/*****************************************************************************/
