
/*****************************************************************************/

td {
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}

td.name {
    padding-bottom: 50px;
}

/*****************************************************************************/
