
/*****************************************************************************/

td {
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}

td.name {
    padding-top: 0px;
    padding-bottom: 30px;
}

/*****************************************************************************/
