
/*****************************************************************************/

#rem-xs .question {
    height: 200px;
}

#rem-xc .question {
    height: 200px;
}

#rem-xl .question {
    height: 200px;
}

table.momentInertia {
    width: 100%;
}

table.momentInertia td:first-child {
    width: 300px;
}

table.momentInertia canvas {
    border: 0px;
}

/*****************************************************************************/
