
/*****************************************************************************/

table.basic td {
    text-align: left;
}

table.basic th {
    text-align: left;
}

#ren-in .transUnit {
    white-space: nowrap;
}

#ren-in .trans {
    color: #f00;
}

#ren-in .transBlock {
    color: #f00;
}

#ren-xl .question {
    height: 210px;
}

/*****************************************************************************/
