
/*****************************************************************************/

#greek {
    border-collapse: collapse;
    border-spacing: 0px;
    margin-left: auto;
    margin-right: auto;
}

#greek td {
    text-align: center;
}

#greek tr td:nth-child(3n) {
    border-right: 1px solid #444;
    text-align: left;
    padding-left: 5px;
    padding-right: 5px;
}

#greek tr td:last-child {
    border-right: 0px;
}

#greek tr td:nth-child(3n + 1) {
    padding-left: 5px;
}

#greek tr td:first-child {
    padding-left: 0px;
}

#rkr-fc p input {
    display: inline-block;
    margin-left: 40px;
}

#rkr-fc p input:first-child {
    margin-left: 5px;
}

/*****************************************************************************/
